body {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

div {
  box-sizing: border-box;
}

.heading-2 {
  font-size: 1rem;
  text-transform: uppercase;
  margin-bottom: 0;

  &--orange {
    color: $mainOrange;
  }
}

.heading-3 {
  font-size: 1.625rem;
  margin-top: 1rem;

  &--smaller {
    font-size: 1.5rem;
  }
}

section {
  box-sizing: border-box;
  width: 100%;
  padding: 20px;
}