header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.contact-bar {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  background-color: $lightGrey;
  font-size: 1rem;
  font-weight: 700;
  color: $darkGrey;
  padding: 12px 10px;
  align-items: center;

  a {
    color: $darkGrey;
  }
}

.menu-bar {
  background-color: $pureWhite;
  padding: .5rem;

  &__logo {
    display: block;
    width: 15rem;
  }

  nav {
    display: none;
  }
}