header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  box-shadow: 0 0px 20px rgba(0, 0, 0, .3);
}

.contact-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: $lightGrey;
  font-size: 0.875rem;
  font-weight: 700;
  color: $darkGrey;
  padding: 10px 20px;
  align-items: center;

  a {
    color: $darkGrey;
  }
}

.menu-bar {
  background-color: $pureWhite;
  padding: 8px 20px;

  &__logo {
    display: block;
    height: 2rem;
    width: auto;
  }

  nav {
    display: none;
  }
}