header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}

.contact-bar {
  width: 100%;
  /* display: flex; */
  display: none;
  justify-content: space-between;
  background-color: $lightGrey;
  background-image: url('../../../assets/images/wall-pattern.png');
  background-repeat: repeat-y;
  background-size: 1200px;
  font-size: 0.875rem;
  font-weight: 700;
  color: $darkGrey;
  padding: 10px 20px;
  align-items: center;

  a {
    color: $darkGrey;
  }
}

.menu-bar {
  background-color: $pureWhite;
  padding: 12px 20px;
  box-shadow: 0 0px 20px rgba(0, 0, 0, .3);

  &__logo {
    display: block;
    height: 2rem;
    width: auto;

    
    @mixin min425px {
      height: 2.6rem;
    }
  }

  nav {
    display: none;
  }
}