.large-hero {

  h1 {
    color: red;
  }

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  &__image {
    grid-column: 1;
    grid-row: 1;
  }

  &__text-content {
    align-self: center;
    grid-column: 1;
    grid-row: 1;
    padding-top: 60px;
    text-align: center;
  }
}



