.large-hero {

  h1 {
    color: rgb(295, 255, 0);
    font-size: 2rem;
  }

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  &__image {
    grid-column: 1;
    grid-row: 1;
  }

  &__text-content {
    align-self: center;
    grid-column: 1;
    grid-row: 1;
    padding-top: 50px;
    text-align: center;
  }
}



