.large-hero {
  display: flex;
  flex-direction: column;
  padding-top: 70px;
  padding-bottom: 50px;
  background-color: rgb(231, 231, 227);
  background-image: linear-gradient(to top, rgba(44, 44, 44, 1 ), rgba(44, 44, 44, 0)), url('../../../assets/images/Asfalt.jpg'), url('../../../assets/images/wall-pattern.png');
  background-repeat: no-repeat, repeat-x, repeat-y;
  background-size: 100% 100px, 500px 180px, 100%;
  background-position: bottom, bottom, top;

  @mixin min1024px {
    height: 450px;
    padding-top: 120px;
    padding-bottom: 40px;
    flex-direction: row;
  }

  &__main-header {
    color: $darkGrey;
    font-size: 2rem;
    margin: 0;
    max-width: 335px;
  }

  &__text-content {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;

    @mixin min1024px {
      flex-basis: 50%;
      margin: 0;
      padding-left: 50px;
    }
  }

  &__sub-text {
    margin-bottom: 40px;
  }

  &__image-container {
    width: calc(100% - 40px);
    height: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 1;
    /* border: 2px solid red; */
 
    @mixin min1024px {
      flex-basis: 40%;
      height: fit-content;
      align-self: flex-end;
    }
  }

  &__image {
    width: 100%;
    display: block;

    &--shadow {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: -1;
      bottom: 0;
      background-image: url('../../assets/images/large-hero--shadow.png');
      background-repeat: no-repeat;
      background-size:contain;
      mix-blend-mode: multiply;
    }
  }
}



