.large-hero {
  padding-top: 100px;
  padding-bottom: 50px;
  background-color: rgb(231, 231, 227);
  background-image: linear-gradient(to top, rgba(44, 44, 44, 1 ) 20%, rgba(44, 44, 44, 0)), url('../../../assets/images/Asfalt.jpg'), url('../../../assets/images/wall-pattern.png');
  background-repeat: no-repeat, no-repeat, repeat-y;
  background-size: 400px 100px, 500px 180px, 1200px;
  background-position: bottom, bottom, top;


  h1 {
    color: $darkGrey;
    font-size: 2rem;
    margin: 0;
  }

  &__text-content {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }

  &__image-container {
    position: relative;
    z-index: 1;
  }

  &__image {
    width: 335px;
    margin-left: auto;
    margin-right: auto;
    display: block;

    &--shadow {
      width: 335px;
      height: 220px;
      position: absolute;
      top: 0;
      left: 20px;
      z-index: -1;
      background-image: url('../../assets/images/large-hero--shadow.png');
      background-size: contain;
      mix-blend-mode: multiply;
    }
  }

  &__sub-text {
    margin-bottom: 30px;
  }
}



