.tools-section {
  background-color: $blackGrey;
  color: $lightGrey;
  text-align: center;
  padding: 30px 20px 60px 20px;
}
.section__heading-2 {
  max-width: 335px;
  margin-left: auto;
  margin-right: auto;
}

.section__heading-3 {
  margin: 0;
  color: $mainOrange;
  font-size: 0.875rem;
}